# Dépendances
node_modules/

# Environnement
.env
.env.local

# Uploads
backend/uploads
backend/processed/
backend/data.sql

# Logs
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp

# Build
dist/
build/
.vite/
test-*.js
backend/test-*.js